body{
	background-color: #000;
	color: #fff;
}
label{
	display: block;
}
input{
	border: 1px solid #ddd;
}
legend{
	font-size: 18px;
	color: #ddd;
	font-weight: bold;
}
a.button{
	border: 1px solid #aaa;
	padding: 1px 4px;
	color: #000;
	text-decoration: none;
	background-color: #ddd;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
a.button:hover{
	background-color: #fff;
}
.timelineTrack{
	margin: 2px 0;
}
.timelineClip{
	height: 12px;
	width: 0px;
	margin-left: 60px;
	background-color: #f00;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#progressMarker{
	border-right: 2px solid #fff;
	height: 12px;
}
.volumeSlider{
	width: 100px;
}